---
import Base from "../layouts/base.astro";
import Nav from "../components/nav.astro";
import Hero from "../components/hero.astro";
import Features from "../components/features.astro";
import Footer from "../components/footer.astro";
---

<Base>
  <Nav />
  <main class="overflow-hidden">
    <Hero />
    <Features />
  </main>
  <Footer />
</Base>
