---
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#fc3c44" />
    <link rel="icon" href="/gs_icon.webp" />
    <link rel="preconnect" href="https://rsms.me/" />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
    <title>GS Music</title>
    <meta name="description" content="A beautiful cross-platform music player with immersive visuals, synced lyrics, and Discord integration." />
  </head>
  <body class="antialiased">
    <slot />
  </body>
</html>
